@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@keyframes openning {
  0%, 99% {
    z-index: 1;
    visibility: initial;
  }
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.loader {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  animation: openning 4s;
  z-index: -1;
  visibility: hidden;
}

.loader::after {
  content: "Recherche de restaurant";
}

.loader div {
  display: inline-block;
  width: 16px;
  margin: 10px;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  animation-delay: -0.24s;
  background-color: #9356DC;
}

.loader div:nth-child(2) {
  animation-delay: -0.12s;
  background-color: #FF79DA;
}

.loader div:nth-child(3) {
  animation-delay: 0;
  background-color: #99E2D0;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

html {
  line-height: unset;
}

a {
  color: #000000;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding-inline-start: 0px;
}

header, .section_title {
  text-align: center;
}

h1 {
  font-family: "Shrikhand";
  font-weight: unset;
  font-size: 5em;
  margin: 5px auto;
}

#slogan br {
  display: none;
}

form {
  background-color: #f6f6f6;
  height: 300px;
}

.card a {
  pointer-events: initial;
}

.fa-heart {
  font-size: xx-large;
  height: fit-content;
  transition: color 400ms;
}
.fa-heart:hover {
  font-weight: 900;
  color: #9356DC;
}

#location > label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 5px #d1d1d1;
}
#location > label > * {
  margin-top: 5px;
  height: 40px;
  border: unset;
}
#location > label i {
  font-size: 20px;
  padding: 10px 10px 10px 20px;
}
#location > label input {
  font-weight: bold;
  background-color: unset;
  width: 170px;
  padding-left: 10px;
}

.my_button {
  display: block;
  width: 60%;
  margin: 30px auto;
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 25px;
  border-radius: 30px;
  border-color: unset;
  box-shadow: 2px 2px 2px lightgrey;
  opacity: 1;
  transition: opacity 400ms;
}
.my_button:hover {
  opacity: 0.7;
  box-shadow: 3px 3px 3px grey;
}

main {
  padding: 1%;
}

#functioning ol {
  display: flex;
  counter-reset: number;
}
#functioning li {
  font-weight: bold;
  margin: 20px auto;
  padding: 20px 0px;
  box-shadow: 2px 2px 2px #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 300px;
}
#functioning li::before {
  counter-increment: number;
  content: counter(number) " ";
  color: #FFFFFF;
  background-color: #9356DC;
  padding: 5px 7px 5px 10px;
  border-radius: 15px;
  position: relative;
  right: 14px;
  box-shadow: 2px 2px 2px #d1d1d1;
}
#functioning i {
  width: 5%;
  text-align: center;
  font-size: 20px;
  color: #7e7e7e;
  margin-right: 5%;
}
#functioning i:hover {
  color: #9356DC;
}

#restaurants_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 20px #999;
  overflow: hidden;
  border-radius: 30px;
  width: 500px;
}

.card-image {
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: right;
}
.card-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body {
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.description > * > * {
  margin: 0px;
}

.new .card-image::before {
  content: "Nouveau";
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.5);
  color: darkslategrey;
  border-radius: 2px;
  top: 30px;
  margin-right: 10px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px 10px 25px 20px;
}
footer h1 {
  font-size: 20px;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
footer li {
  margin: 5px 0px;
}
footer a {
  color: inherit;
}
footer i {
  margin-right: 5px;
  width: 25px;
  font-size: 15px;
}

/*-----------------------------------------------------------
                            RETAURANT                       
------------------------------------------------------------*/
#restaurant header {
  margin-bottom: -10px;
}
#restaurant header i {
  position: absolute;
  left: 30px;
  top: 25px;
}
#restaurant header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
#restaurant main {
  padding: 0px 40px;
  background-color: #f6f6f6;
}
#restaurant main h1 {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  padding: 30px 10px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  bottom: 70px;
  margin-bottom: -80px;
}
#restaurant main .part_meal {
  display: inline-block;
  padding: 0px 10px;
}
#restaurant main .part_meal h2 {
  font-variant-caps: all-small-caps;
  font-weight: normal;
}
#restaurant main .part_meal h2::after {
  content: "_____";
  display: block;
  margin: -15px 0px;
  color: grey;
}
#restaurant main .part_meal li {
  display: flex;
  flex-wrap: nowrap;
  font-weight: bold;
  overflow: hidden;
  margin: 40px 0px;
  padding: 0px;
  box-shadow: 2px 2px 2px grey;
  background-color: #ffffff;
  border-radius: 10px;
  width: 450px;
  animation: appear 3s;
}
#restaurant main .part_meal .description {
  width: 100%;
  padding: 3px 10px;
}
#restaurant main .part_meal .description > * {
  margin: 10px 5px;
}
#restaurant main .part_meal .accompaniement {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}
#restaurant main .part_meal .price {
  position: relative;
  right: 0px;
  font-weight: bold;
}
#restaurant main .part_meal .check_area {
  width: 20%;
  display: none;
  background-color: #99e2d0;
  margin-left: 10px;
}
#restaurant main .part_meal li:hover .check_area {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 10ms;
}
#restaurant main .part_meal .fa-check {
  background-color: #ffffff;
  color: #99e2d0;
  border-radius: 30px;
  padding: 5px;
}
#restaurant main #command_area {
  text-align: center;
}

@media only screen and (max-width: 992px) {
  #functioning ol {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  p, li, input {
    font-size: 0.95em;
  }

  h1 {
    font-size: 2em;
  }

  #slogan > p {
    padding: 0 1%;
  }

  #slogan br {
    display: inline;
  }

  .my_button {
    width: 210px;
    padding: 15px;
  }

  main {
    padding: 0px 10px;
    margin-bottom: 60px;
  }

  .section_title {
    text-align: initial;
  }

  #functioning ol {
    flex-direction: column;
  }
  #functioning li {
    width: 90%;
  }

  .card {
    width: 335px;
  }

  .card-image {
    height: 200px;
  }

  footer h1 {
    text-align: initial;
  }
  footer ul {
    display: block;
  }
}
/* Petites résolutions mobiles*/
@media only screen and (max-width: 360px) {
  .card {
    width: 230px;
  }

  .card-image {
    height: 130px;
  }
}

/*# sourceMappingURL=style.css.map */
