@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
/*-----------------------------------------------------------
                            ANIMATION                       
------------------------------------------------------------*/
@keyframes openning {
  0%, 99% {
    z-index: 1;
    visibility: initial;
  }
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes colorful_fill {
  0% {
    background: linear-gradient(white 100%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10% {
    background: linear-gradient(white 90%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(white 80%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: linear-gradient(white 70%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(white 60%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(white 50%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: linear-gradient(white 40%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: linear-gradient(white 30%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: linear-gradient(white 20%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: linear-gradient(white 10%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(white 0%, #FF79DA, #9356DC);
    font-weight: 900;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/*-----------------------------------------------------------
                            ACCUEIL                       
------------------------------------------------------------*/
/* loading Spinner*/
.loader {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  animation: openning 4s;
  z-index: -1;
  visibility: hidden;
}
.loader::after {
  content: "Recherche de restaurant";
}
.loader div {
  display: inline-block;
  width: 16px;
  margin: 10px;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  animation-delay: -0.24s;
  background-color: #9356DC;
}
.loader div:nth-child(2) {
  animation-delay: -0.12s;
  background-color: #FF79DA;
}
.loader div:nth-child(3) {
  animation-delay: -0.08s;
  background-color: #99E2D0;
}

/*caractéristiques générales*/
* {
  font-family: "Roboto";
  box-sizing: border-box;
}

html {
  line-height: unset;
}

p, li, input {
  font-size: 0.95em;
}

a {
  color: #000000;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding-inline-start: 0px;
}

header, .section_title {
  text-align: center;
}

h1 {
  font-family: "Shrikhand";
  font-weight: unset;
  font-size: 2em;
  margin: 5px auto;
}

.my_button {
  display: block;
  width: 210px;
  padding: 15px;
  margin: 30px auto;
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border-color: unset;
  box-shadow: 2px 2px 2px lightgrey;
  opacity: 1;
  transition: opacity 400ms;
}
.my_button:hover {
  opacity: 0.7;
  box-shadow: 3px 3px 3px grey;
}

.fa-heart {
  font-size: xx-large;
  height: fit-content;
}
.fa-heart:hover {
  animation: colorful_fill 400ms ease;
  font-weight: 900;
  background: linear-gradient(-5deg, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home form {
  background-color: #f6f6f6;
  height: 300px;
}
#home #location > label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 5px #d1d1d1;
}
#home #location > label > * {
  margin-top: 5px;
  height: 40px;
  border: unset;
}
#home #location > label i {
  font-size: 20px;
  padding: 10px 10px 10px 20px;
}
#home #location > label input {
  font-weight: bold;
  background-color: unset;
  width: 170px;
  padding-left: 10px;
}
#home #slogan > p {
  padding: 0 1%;
}
#home #slogan br {
  display: inline;
}
#home main {
  padding: 0px 10px;
  margin-bottom: 60px;
}
#home .section_title {
  text-align: initial;
}
#home #functioning ol {
  display: flex;
  flex-direction: column;
  counter-reset: number;
}
#home #functioning li {
  font-weight: bold;
  margin: 20px auto;
  padding: 20px 0px;
  box-shadow: 2px 2px 2px #999;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 90%;
}
#home #functioning li:hover {
  background-color: #F2EAFB;
}
#home #functioning li::before {
  counter-increment: number;
  content: counter(number) " ";
  color: #FFFFFF;
  background-color: #9356DC;
  padding: 5px 7px 5px 10px;
  border-radius: 15px;
  position: relative;
  right: 14px;
  box-shadow: 2px 2px 2px #d1d1d1;
}
#home #functioning i {
  width: 5%;
  text-align: center;
  font-size: 20px;
  color: #7e7e7e;
  margin-right: 5%;
}
#home #functioning li:hover i {
  color: #9356DC;
}
#home #restaurants_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#home #restaurants_list .card {
  width: 335px;
  margin: 20px;
  text-align: right;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 20px #999;
  overflow: hidden;
  border-radius: 30px;
}
#home #restaurants_list .card-image {
  margin-top: -20px;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
  text-align: right;
}
#home #restaurants_list .card-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home #restaurants_list .card-body {
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: initial;
}
#home #restaurants_list .description > * > * {
  margin: 0px;
}
#home #restaurants_list .new::before {
  content: "Nouveau";
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.5);
  color: darkslategrey;
  border-radius: 2px;
  top: 30px;
  margin-right: 10px;
}

/*-----------------------------------------------------------
                            RETAURANT                       
------------------------------------------------------------*/
#restaurant header {
  margin-bottom: -10px;
}
#restaurant header h1 {
  display: flex;
  justify-content: center;
}
#restaurant header a {
  align-self: center;
  position: absolute;
  left: 10px;
}
#restaurant header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
#restaurant main {
  padding: 0px 0px 10px 0px;
  background-color: #f6f6f6;
  margin-bottom: unset;
}
#restaurant main h1 {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  padding: 30px 10px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  bottom: 70px;
  margin-bottom: -80px;
}
#restaurant main #meal {
  display: flex;
  flex-direction: column;
}
#restaurant main .part_meal {
  padding: 0px 10px;
  width: 100%;
}
#restaurant main .part_meal h2 {
  font-variant-caps: all-small-caps;
  font-weight: normal;
}
#restaurant main .part_meal h2::after {
  content: "_____";
  display: block;
  margin: -15px 0px;
  color: grey;
}
#restaurant main .part_meal:nth-of-type(1) ul {
  animation: appear 3s ease;
}
#restaurant main .part_meal:nth-of-type(2) ul {
  animation: appear 6s ease;
}
#restaurant main .part_meal:nth-of-type(3) ul {
  animation: appear 9s ease;
}
#restaurant main .part_meal li {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
  margin: 20px 0px;
  padding: 0px;
  box-shadow: 2px 2px 2px grey;
  background-color: #ffffff;
  border-radius: 10px;
}
#restaurant main .part_meal .description {
  width: 100%;
  padding: 3px 10px;
  transition: width 1s;
}
#restaurant main .part_meal .description:hover {
  width: 80%;
}
#restaurant main .part_meal .description > * {
  margin: 10px 5px;
}
#restaurant main .part_meal .price {
  font-weight: bold;
}
#restaurant main .part_meal .accompaniement {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}
#restaurant main .part_meal .accompaniement > * {
  margin: 0px 0px;
}
#restaurant main .part_meal .description h3, #restaurant main .part_meal .accompaniement p:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#restaurant main .part_meal .price {
  font-weight: bold;
}
#restaurant main .part_meal .check_area {
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  margin-left: 10px;
  transform: translateX(100%);
  transition: transform 1s;
}
#restaurant main .part_meal li:hover .check_area {
  width: 20%;
  transform: translateX(0%);
}
#restaurant main .part_meal .fa-check {
  background-color: #ffffff;
  color: #99e2d0;
  border-radius: 30px;
  padding: 5px;
  transform: rotate(-270deg);
  transition: transform 1s;
  visibility: hidden;
}
#restaurant main .part_meal li:hover .fa-check {
  visibility: visible;
  transform: rotate(0deg);
}
#restaurant main #command_area {
  text-align: center;
}

/*-----------------------------------------------------------
                            PIED DE PAGE                       
------------------------------------------------------------*/
footer {
  background-color: #353535;
  color: white;
  padding: 10px 10px 25px 20px;
}
footer h1 {
  font-size: 20px;
  text-align: initial;
}
footer ul {
  display: block;
}
footer li {
  margin: 5px 0px;
}
footer a {
  color: inherit;
}
footer i {
  margin-right: 5px;
  width: 25px;
  font-size: 15px;
}

/*-----------------------------------------------------------
                            FORMAT TABLETTE                       
------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
  #functioning ol {
    justify-content: center;
    flex-wrap: wrap;
  }

  #restaurant main .part_meal {
    width: 100%;
  }
}
/*-----------------------------------------------------------
                            FORMAT DESKTOP                       
------------------------------------------------------------*/
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5em;
  }

  p, li, input {
    font-size: 1em;
  }

  #home #slogan > p {
    padding: 0 0%;
  }
  #home #slogan br {
    display: none;
  }
  #home main {
    padding: 1%;
  }
  #home .section_title {
    text-align: center;
  }
  #home #functioning ol {
    flex-direction: row;
  }
  #home #functioning li {
    width: 300px;
  }
  #home #restaurants_list .card {
    width: 500px;
  }
  #home #restaurants_list .card-image {
    height: 300px;
  }

  footer h1 {
    text-align: center;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  /*-----------------------------------------------------------
                          RETAURANT                       
  ------------------------------------------------------------*/
  #restaurant main #meal {
    flex-direction: row;
  }
  #restaurant main .part_meal {
    width: 33%;
  }
}

/*# sourceMappingURL=style.css.map */
