.restaurant {
    header {
        i {
            position:absolute;
            left: 30px;
        }
    
        img {
            width: 100%;
        }
    }
    main h1 {
        border:1px solid;
        padding: 30px 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}